/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.min-h-lvh,
.min-h-dvh {
  min-height: 100vh;
}

:root {
  font-size: 16px;
}

/* Firefox-like, thin and minimal scrollbars */
.scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent; /* Firefox */
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

iframe {
  display: block;
}
